.App {
  min-height: 100vh;
    background-image: url("https://hallmark.brightspotcdn.com/dims4/default/f0512ea/2147483647/strip/true/crop/2500x1667+0+0/resize/1920x1280!/quality/90/?url=http%3A%2F%2Fhallmark-channel-brightspot.s3.amazonaws.com%2Fb4%2F78%2F391aef8880dba823fd6aed0a362d%2Fhome-family-diy-picnic-basket.jpg");

  }
  
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 40%;
  border: none;
  padding: 10px;
}
.search-button {
  background: darkblue;
  border: none;
  padding: 10px;
  color: white;
}
.recipe {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
h1 {
  padding-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}
